body{
  background-color: #000;
  font-family:"Times New Roman";
  font-size: 12pt;
  text-align: justify;
}
.page {
  background-color: #FFF;
  width: 17cm;
  height: 25.7cm;
  margin: auto;
  padding: 2cm 2cm 2cm 2cm;
}
.table {
    border-collapse: collapse;
    width: 100%;
}

.table, th, td {
    border: 0px solid black;
}
tr {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

hr.hr {
	border-top: 3px double #8c8b8b;
  margin: 5px 0px 5px 0px;
  padding: 0;
}
